.flex-container {
  display: flex;
  flex-wrap: wrap;
  /*background-color: aquamarine;*/
  justify-content: center;
}

.flex-container > div {
  background-color: #545454;
  margin: 10px;
  width: 250px;
  padding: 10px;
}

span {
  padding-bottom: 10px;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  overflow: hidden;
  align-items: center;
}

li {
  float: left;
  display: block;
  padding: 0 5px 0 5px;
  margin-right: 5px;
}


