<h1>Sushi online shop</h1>
<nav>
  <br>
  <ul>
    <li>
      <a [routerLink]="'sushishop/item/'"
         [queryParams]="{category: Subcategory.NEW_ITEM}">{{ Subcategory.NEW_ITEM.replace("-", " ") }}!</a>
    </li>
    @for (mc of mainCategories; track mc.mainCategoryId) {
      <li>
        <a [routerLink]="'sushishop/item/'"
           [queryParams]="{category: mc.mainCategoryName}">{{ mc.mainCategoryName.toUpperCase() }}</a>
      </li>
    } @empty {
      <p>Coming soon!</p>
    }
  </ul>
</nav>
