#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --border-radius-subcategories: 5px;
    --item-font-size-new-actual-price: xx-large;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

img {
    width: 100%;
    height: 150px;
}

.item-description-width {
    max-width: 20em;
}

li {
    list-style: none;
}

.item-subcategories {
    display: block;
    font-size: smaller;
}

.item-subcategories.new-item {
    background-color: lightcoral;
    border-radius: var(--border-radius-subcategories);
}

.item-subcategories.bestseller {
    background-color: gold;
    border-radius: var(--border-radius-subcategories);
}

.item-subcategories.vege {
    background-color: lightgreen;
    border-radius: var(--border-radius-subcategories);
}

.main-box-margin {
    margin: 20px 0 20px 0;
}

.ul-subcategories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    overflow: hidden;
    align-items: center;
}

.li-subcategories {
    float: left;
    display: block;
    padding: 0 5px 0 5px;
    margin-right: 5px;
}

.item-actual-price {
    display: block;
    text-align: left;
    color: red;
    font-size: var(--item-font-size-new-actual-price);
}

.item-old-price {
    display: block;
    text-align: left;
    color: whitesmoke;
    font-size: large;
    text-decoration: line-through;
    padding-top: 0px;
}
